[submodule "VAME"]
	path = VAME
	url = https://github.com/LINCellularNeuroscience/VAME.git
[submodule "fiber_photometry"]
	path = fiber_photometry
	url = https://github.com/mkm4884/fiber_photometry.git
[submodule "anipose"]
	path = anipose
	url = https://github.com/lambdaloop/anipose.git
[submodule "campy"]
	path = campy
	url = https://github.com/onurserce/campy.git
